.nav-bar {
	background: $hearst-blue;

	select {
		background-color: transparent;
		border: 1px solid white;
		color: white;

		border-radius: 0px;
		-webkit-border-radius: 0px;
	}
	
	.nav-container {
		padding: 20px 50px;
	}

	.nav-bar-left {
		float: left;
	}

	.nav-bar-right {
		float:right;
		display: flex;
	}

	.search-btn {
		background: $hearst-orange;
		border: none;
		color: white;
		border-radius: 0px;
		font-size: 10px;
		margin-left: 10px
	}
}