
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$hearst-blue: #204970;
$hearst-orange: #ff9101;
$border-gray: #c1c1c1;